@media screen and (max-width: 480px) {
	#parallax-hp {min-width:480px !important;}
	#scroll-container, #scroll-info, #parallax-hp footer {display:none;}
	#logo {position:fixed !important; top:20px !important; left:100px !important;}
	#logo img {width:100px;}
	#iphone-button-cont {display:block;}
	#scroll-container {height:0px !important;}
}

@media screen and (max-width:320px) {
	#parallax-hp {min-width:320px !important;}
	#iphone-button-cont {margin-left:30px; margin-top:200px;}
}