
body {padding:0px !important; min-width:1000px; display:none;}
#page {margin-top:0px !important; min-width:1000px; background:#000; min-height:800px;}
.one-column #page {max-width:1200px; min-width:100%}
#main {min-height:800px; padding-top:50px; max-width:1000px; position:relative; margin:auto;}


/* *****HEADER***** */
#branding {margin-bottom:20px; width:100%; position:relative; float:left; margin-bottom:0px; padding-bottom:0px;
	background:#222;}
#logo-cont {position:relative; float:left; padding-bottom:20px; width:18%; background:#000;}
#logo {position:relative; float:left; margin-top:10px; margin-left:50px;}
#header-login {position:absolute; right:50px; top:10px; display:none;}
#header-bg-divider {position:relative; float:left; height:166px; width:5%;}
#header-bg-divider img {height:166px;}

#header-title {position:relative; background:none; border:none; width:77%; clear:none; margin-top:10px; height:90px; float:right; text-align:center;}
#header-title .title-line1, #header-title .title-line2 {font-family:'Hoefler Text'; font-size:42px; text-align:center; position:relative; float:left; 
	width:100%; line-height:100%; color:#fff;}
#header-title .title-line2 {font-size:32px;}

#branding #access {background:none; border:none; width:77%; clear:none; margin-top:20px; float:right;}
#access div {margin:0px;}
#branding #access ul li {border-right:1px solid #fff; height:24px; width:16%; padding-left:4%; padding-right:4%;}
#branding #access {
	-moz-box-shadow:    none;
  	-webkit-box-shadow: none;
  	box-shadow:         none;
}
#branding #access a {background:none; height:20px; line-height: 1.5em; text-align:center; padding:0px; color:#fff; font-family:'Hoeffler Text';
	font-size:20px; height:26px;}
#branding #access a:hover {color:#000; /*border-bottom:15px solid #fff;*/ text-decoration:none; background:#fff;}
#access .current-menu-item > a, #access .current-menu-ancestor > a, 
	#access .current_page_item > a, #access .current_page_ancestor > a {background:none; height:20px; line-height: 1.5em; text-align:center;}
#access .current-menu-item > a:hover, #access .current-menu-ancestor > a:hover, 
	#access .current_page_item > a:hover, #access .current_page_ancestor > a:hover {background:none; text-decoration:underline; color:#fff;}
#branding #access ul li#menu-item-10 {border-right:none;}
#access .current-menu-item > a, #access .current-menu-ancestor > a, #access .current_page_item > a, #access .current_page_ancestor > a {text-transform:uppercase;}

.flexible-frontend-login .ffl-popup-content {background:#000 !important;}

#header-divider {position:absolute; top:168px; width:100%; height:1px; background:#efefef; min-width:1000px;}


/* *****FOOTER***** */
footer {background:#000;}
#footer-cont {position:relative; float:left; width:100%; background:#222; height:50px;
	border-top:1px solid #999; padding-top:5px;}
#footer-cont .footer-links {position:relative; float:left; width:15%; height:50px;}
#footer-cont .footer-links a {position:relative; float:left; width:100%; font-size:12px; text-align:center;}
#footer-cont .footer-links a.facebook {margin-top:10px;}
#footer-cont .footer-links a.twitter {margin-top:15px;}
#footer-cont .footer-links a.twitter .t-grey, #footer-cont .footer-links a.facebook .f-grey {display:none;}
#footer-cont a.copyright {width:250px; font-size:10px; position:relative; float:right; margin-right:50px; margin-top:20px;}
#footer-cont a.copyright  {text-decoration:none;}
#footer-cont .footer-links a:hover {text-decoration:underline;}


/* *****HOMEPAGE***** */
.page-template-homepage-php #content {max-width:400px; min-width:300px; font-size:14px; position:relative; float:left; 
	text-align:center; margin:0px; margin-left:50px;}
.page-template-homepage-php #content article {padding-top:0px;}
.page-template-homepage-php #content article .entry-header {display:none;}

#main #content .entry-content {color:#fff; padding-top:0px;}

#hp-slider {position:relative; float:left; width:450px; margin-left:50px; text-align:center;}
.mainTable, .mainTable #mainscollertd, .mainTable #mainscollertd .mainSliderDiv {width:340px !important;}
.page-template-homepage-php #content article .wpuf-attachments {display:none;}
.portfolio-slideshow .slideshow-content img {padding:7px !important; border:1px ridge #fff !important;}
.slideshow-wrapper .pscarousel {padding-left:18px;}


/* *****SERVICES***** */
.page-template-services-php #content article {padding:0px; margin-top:0px;}
.page-template-services-php #content article .entry-header {display:none;}
.page-template-services-php #content div {position:relative; float:left;}
.page-template-services-php #content #services-cont {width:800px; margin-left:24px;}
.page-template-services-php #content #services-cont .service-title {margin-left:25px; font-size:24px; height:45px; padding:0px; margin-top:0px;}
.page-template-services-php #content #services-cont .entry-content {width:800px; height:200px; margin-bottom:20px;}
.page-template-services-php #content #services-cont .entry-content .wpuf-attachments {display:none;}
.page-template-services-php #content #services-cont .entry-content .service-img {height:100px; padding-top:50px; padding-bottom:50px; width:200px; 
	text-align:center; background:#333;}
.page-template-services-php #content #services-cont .entry-content .service-img img {position:relative;}
.page-template-services-php #content #services-cont .entry-content .service-content {width:575px; margin-left:25px; height:145px;}



/* *****OUR WORK***** */
.page-template-ourwork-php #work-cont {width:900px; position:relative; margin-left:50px;}
.page-template-ourwork-php #work-cont .entry-content {position:relative; float:left; width:900px;}
.imac-title, .mobile-title, .photo-title {font-size:22px; font-family:'Hoefler Text'; color:#fff;}
.imac-descr, .mobile-descr, .photo-descr {margin-top:10px; margin-bottom:75px; color:#fff;}
.imac-link, .mobile-link, .photo-link {text-decoration:underline; color:#fff;}
#imac-slide-buttons, #photo-slide-buttons {display:none; position:absolute; top:-20px; left:200px;}

/* WEBSITE */
.page-template-ourwork-php .website-slideshow {height:375px; padding-top:0px;}
.page-template-ourwork-php .website-slideshow #imac {position:absolute; left:0px; top:0px; z-index:5;}
.page-template-ourwork-php .website-slideshow .imac-img {position:relative; float:left; margin-top:15px; margin-left:20px; 
	width:415px; height:250px; z-index:1;}
.page-template-ourwork-php .website-slideshow .imac-slide-caption {position:relative; float:left; height:300px; width:400px; margin-top:25px; margin-left:50px;}
.page-template-ourwork-php .website-slideshow .imac-slide-caption div {position:relative; float:left;}

#carousel {width:900px; height:375px; margin:0 auto;} 
#slides {overflow:hidden; position:relative; width:900px; height:375px;}
#slides ul {position:relative; left:0; top:0; list-style:none; margin:0; padding:0; width:1600px;} 
#slides li {width:900px; height:375px; float:left; color:#fff;}
#slides li img {padding:5px;}

/* MOBILE */
.page-template-ourwork-php .mobile-slideshow {height:375px; padding-top:0px;}
.page-template-ourwork-php .mobile-slideshow #ipad {position:absolute; right:35px; top:0px; z-index:5; width:200px; height:300px;}
.page-template-ourwork-php .mobile-slideshow #iphone {position:absolute; right:0px; top:150px; z-index:10; width:100px; height:175px;}
.page-template-ourwork-php .mobile-slideshow .ipad-img {position:absolute; top:29px; right:53px; 
	width:160px; height:240px; z-index:1;}
.page-template-ourwork-php .mobile-slideshow .iphone-img {position:absolute; top:175px; right:9px; 
	width:80px; height:150px; z-index:6;}
.page-template-ourwork-php #mobile-slides {width:550px; height:350px;}
.page-template-ourwork-php .mobile-slide-caption {margin-top:75px; height:300px;}

/* PHOTOGRAPHY */
.page-template-ourwork-php .photo-slideshow {height:350px; padding-top:0px;}
.page-template-ourwork-php .photo-slideshow #frame {position:absolute; left:0px; top:0px; z-index:5;}
.page-template-ourwork-php .photo-slideshow .photo-img {position:relative; float:left; margin-top:29px; margin-left:35px; 
	width:305px; height:250px; z-index:1;}
.page-template-ourwork-php .photo-slideshow .photo-slide-caption {position:relative; float:left; height:200px; width:400px; margin-top:25px; margin-left:100px;}
.page-template-ourwork-php .photo-slideshow .photo-slide-caption div {position:relative; float:left;}

#carousel {width:900px; height:350px; margin:0 auto;} 
#slides {overflow:hidden; position:relative; width:900px; height:350px;}
#slides ul {position:relative; left:0; top:0; list-style:none; margin:0; padding:0; width:1600px;} 
#slides li {width:900px; height:350px; float:left; color:#fff;}
#slides li img {padding:5px;}
#photo-slide-buttons {display:none; position:absolute; top:-20px; left:200px;}
.photo-img-title {margin-top:35px; text-decoration:none; text-transform:uppercase;}




/* *****CONTACT***** */
.page-template-contact-php #content {width:400px; font-size:14px; position:relative; float:left; 
	text-align:center; margin:0px; margin-left:50px; margin-top:0px;}
.page-template-contact-php #content article {padding-top:0px;}
.page-template-contact-php #content article .entry-header {display:none;}

.contact-title {font-family:'Hoefler Text'; font-size:28px;}

.page-template-contact-php #map-cont, #map_div {position:relative; float:right; width:400px; margin-right:50px; text-align:center; height:550px;
	border:1px solid #fff; margin-bottom:50px; margin-top:25px;}

#contact-form {position:relative; float:left; background:#333; width:400px; height:350px; margin-top:25px;}
#contact-form-title {position:relative; float:left; width:100%; text-align:center; color:#fff; font-family:'Hoefler Text'; font-size:26px; margin-top:10px;}
#contact-form .contact-side {width:175px; margin-top:20px;}
#contact-form #contact-form-left {position:relative; float:left; margin-left:10px;}
#contact-form #contact-form-right {position:relative; float:right; margin-right:10px;}
#contact-form input {width:165px; height:25px; margin-bottom:10px; background:#000; color:#fff;}
#contact-form #contact-form-mssg {position:relative; float:left; width:380px; margin-left:10px;}
#contact-form #contact-form-mssg textarea {width:370px; height:100px; background:#000; color:#fff;}

#contact-form #contact-button {}
#contact-form #contact-button input.wpcf7-submit {position:absolute; bottom:25px; right:20px; width:100px; height:30px; background:#000; color:#fff; border:1px solid #fff; cursor:pointer;}
#contact-form #contact-button input.wpcf7-submit:hover {background:#fff; color:#000; border:1px solid #000;}

div.wpcf7-mail-sent-ok {position:absolute; bottom:-10px; width:230px; border:1px solid #fff; color:#fff;}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {position:absolute; bottom:-10px; width:230px; border:1px solid #8A0829; color:#DF013A;}
span.wpcf7-not-valid-tip {position:absolute; text-align:left; left:2px; top:-23px; border:none; background:none; width:200px; padding:0px; margin:0px; color:#DF013A; font-size:11px;}


